# Copyright 2023 jacqueline <me@jacqueline.id.au>
#
# SPDX-License-Identifier: CC0-1.0

.cache/
.clangd
.helix/
build/
build.clang/
sdkconfig
sdkconfig.old
.vscode
compile_commands.json
warnings.txt

test/build/
test/dependencies.lock
test/sdkconfig
